numpy==1.19.5+computecanada
pandas==0.25.3+computecanada
pytorch-lightning==1.2.6+computecanada
torch==1.8.1+computecanada
torchmetrics==0.2.0+computecanada
torchvision==0.9.1+computecanada
mlflow==1.12.1+computecanada
urllib3==1.26.15+computecanada
scikit-learn==0.22.1+computecanada
